body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#character {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

#intro{
    position: fixed;
    inset: 0;
    background: white;
    overflow: hidden;
    z-index: 1000;
}

#lobster{
    color: #FF3B3F;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: bold;
    white-space: nowrap;
}

#lion{
    color: goldenrod;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: bold;
    white-space: nowrap;
}

.introBg {
    position: absolute;
    top: 0;
    width: 55vw;
    height: 100vh;
}

#lobsterBg {
    background:#D9D9D9;
}

#lionBg {
    background: #D9D9D9;
}

.block {
    position: absolute;
    background: black;
}
